{% extends 'master.html' %}

{% block title %}
<title>Issue Books</title>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Issue {{ book.title }} by {{ book.author }}</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'issue_book' book.id %}" method="post">
                    {% csrf_token %
                    <div class="mb-3">
                        <label for="input_id" class="form-label">Select Reader</label>
                        <select id="input_id" class="form-select form-select-lg w-100" name="reader_id" aria-label="Default select example">
                            {% for reader in readers %}
                            <option value="{{ reader_id }}">{{ reader_no }} - {{ reader_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Issue Book</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}